
<h1 class="text-center">Triqui!</h1>
<div class="alert alert-success text-center d-none" id="playerContainer" role="alert">
    <h2>
    ¡Felicidades Ganaste <span id="player"></span>!
    </h2><br>
    <button class="btn btn-info" onclick="window.location.reload()">Reiniciar</button>
</div>
<div class="row">
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos1" id="pos-1" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos2" id="pos-2" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos3" id="pos-3" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos4" id="pos-4" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos5" id="pos-5" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos6" id="pos-6" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos7" id="pos-7" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos8" id="pos-8" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
    <div class="col-4 p-0 mb-2"><input readonly="readonly" class="pos" type="text" name="pos9" id="pos-9" class="form-control w-100" maxlength="1" minlength="1" accept="[XOxo]" (click)="checkTriqui($event.target)"></div>
</div>