<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Juego Triki Triki
    </a>
  </div>
</nav>

<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Selecciona Jugador</h5>
      <div class="row justify-content-start">
        <div class="col-2">
          <a href="#" id="o" (click)="selectPlayer($event.target)" class="btn btn-primary">Player 1</a>
        </div>
        <div class="col-2">
          <a href="#" id="x" (click)="selectPlayer($event.target)" class="btn btn-warning">Player 2</a>
        </div>
        <div class="col-2">
          <a href="#" id="x" (click)="actualizarJuego()" class="btn btn-danger">Actualizar Juego</a>
        </div>
        <div class="col-2">
          <a href="#" id="x" (click)="reiniciarJuego()" class="btn btn-danger">Nuevo Juego</a>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="start" class="row justify-content-center">
    <div class="col-6">
      <game-view name="gameview" [symbol]="symbolchoose" [trikiValues]="trikiValues"></game-view>
    </div>
    
  </div>
  
</div>


<router-outlet></router-outlet>
